{% extends 'base.html' %}

{% block title %} Contact List {% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>EMAIL</th>
      <th>MESSAGE</th>
    </tr>
  </thead>
  <tbody>
  {% for X in contact %}
  <tr>
    <td>{{ X.first_name }}</td>
    <td>{{ X.last_name }}</td>
    <td>{{ X.email }}</td>
    <td>{{ X.message }}</td>
    <td><a href="{% url 'updatecontact' X.id %}" class="btn btn-success" type="button">UPDATE CONTACT</a></td>
    <td><a href="{% url 'deletecontact' X.id %}" class="btn btn-danger" type="button" onclick="return confirm('Are you sure you want to delete the contact?')">DELETE CONTACT</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

